
body{
    background: #000;
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

*{
    margin: 0;
    padding: 0;
}

canvas {
    margin-top: 3%;
    background: rgb(241, 180, 180);
}