
html {
  background-image: url(" ../Imagenes/fondo.jpg");
}



.butonJ{
  background-image:url(" ../Imagenes/5.png");
  background-repeat:no-repeat;
  height:190px;
  width:538px;
  border-radius: 800px;
  background-position:center;
  background-color: transparent;
  border-color: transparent;
  
}

.butonJ:hover{
  background-image:url(" ../Imagenes/6.png")
}

#jugar{
  margin-left: 750px;
  margin-top: -650px;
  border-radius: 800px;
}

.butonIns{
  background-image:url(" ../Imagenes/7.png");
  background-repeat:no-repeat;
  height:190px;
  width:538px;
  border-radius: 800px;
  background-position:center;
  background-color: transparent;
  border-color: transparent;
  
}

.butonIns:hover{
  background-image:url(" ../Imagenes/8.png")
}

#Ins{
  margin-left: 750px;
  margin-top: 5px;
  border-radius: 600px;
}

#imIns{
  display: flex;
  align-items: center;
  margin-top: -660px;
}
.oculto {
  display:none;
}

#Back{
margin-top:-20px;
margin-left: -173px;
}

.btonback{
  display: none;
  background-image:url(" ../Imagenes/bc.png");
  background-repeat:no-repeat;
  height:591px;
  width:184px;
  border-radius: 800px;
  background-position:center;
  background-color: transparent;
  border-color: transparent;
}

.butonPunt{
  background-image:url(" ../Imagenes/9.png");
  background-repeat:no-repeat;
  height:190px;
  width:538px;
  border-radius: 800px;
  background-position:center;
  background-color: transparent;
  border-color: transparent;
  
}

.butonPunt:hover{
  background-image:url(" ../Imagenes/10.png")
}

#Punt{
  margin-top: 5x;
  margin-left: 750px;
}

#CajaPunt{
  margin-top: -620px;
  margin-left: -10px;
}

.btonback2{
  position:absolute;
  display: none;
  background-image:url(" ../Imagenes/bc.png");
  background-repeat:no-repeat;
  height:591px;
  width:184px;
  border-radius: 800px;
  background-position:center;
  background-color: transparent;
  border-color: transparent;
}
#Back2{
  margin-left: 580px;
  margin-top: -310px;
  }
